<!DOCTYPE html>
<html ng-app = "meetupApp">
    <head>
	<meta charset="utf-8">
	<title>nitsvoice</title>
	</head>
	
	<body>
		<div ng-controller="meetupsController">
			<h1> There are {{ meetups.length }} meetups </h1>
			<ul>
			<li ng-repeat= "meetup in meetups" > {{ meetup.name }} </li>
			</ul>		
		<form ng-submit="createMeetup()">
		<input type="text" placeholder="Meetup name" ng-model="meetupName" ></input>
		<button type="submit" >Add </button>
		</form>
		
		</div>
		
	</body>
	
	<script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
	
	<script type="text/javascript" src = "js/app.js"> </script>
	<script type="text/javascript" src = "js/controllers/meetups-controller.js"> </script>
	
</html>
